* {
  margin: 0;
  font-family: Georgia, 'Cambria', 'Times New Roman', Times, serif;
}

/* Slideshow container */

.slideshow-container {
  width: 100%;
  height: 600px;
  margin-bottom: 0px;
  .mySlides {
    display: none;
    .slideshow_image {
      height: 600px;
      width: 100%;
      object-fit: cover;
      object-position: 100% 20;
    }
  }
  .slideshow-button {
    position: relative;
    bottom: 70px;
    background-color: #d53414;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
  }
  .slideshow-button:hover {
    background-color: #b52e13d7;
    color: white;
    border: 2px solid black;
    cursor: pointer;
  }
  .container-slideshow-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dots {
    bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-right: 7px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: black;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Section News Start */

.section-news {
  background-image: url('../media/news_background.jpg');
  background-repeat: round;
  width: 100%;
  height: 1000px;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    position: relative;
    bottom: 30px;
    text-align: left;
    font-size: 32px;
  }
  .box-featured-news {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-bottom: 20px;
    .card {
      width: 524px;
      height: 524px;
      background: white;
      //border-radius: 20px;
      position: relative;
      overflow: hidden;
      text-align: center;
      margin-right: 20px;
      .card-image {
        width: 100%;
        height: 294px;
        margin-bottom: 10px;
        object-fit: cover;
      }
      .card-textbox {
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        .card-title {
          text-align: left;
          font-weight: bold;
          font-size: 25px;
          color: black;
          text-decoration: none;
        }
        .card-title:hover {
          color: #d53414;
        }
        p {
          color: #484846;
          font-size: 20px;
          padding-top: 20px;
        }
        .card-footer {
          position: absolute;
          bottom: 0;
          display: flex;
          flex: row;
          flex-direction: row;
          .timestamp {
            position: relative;
            bottom: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri',
              'Trebuchet MS', sans-serif;
            font-size: 18px;
            width: fit-content;
            color: rgb(135, 130, 130);
            margin-bottom: 0;
            padding-top: 0px;
          }
          .card-button {
            position: relative;
            left: 290px;
            bottom: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri',
              'Trebuchet MS', sans-serif;
            text-decoration: none;
            text-align: right;
            color: black;
            font-size: 18px;
          }
          .card-button:hover {
            color: #d53414;
          }
        }
      }
    }
  }
  .box-update-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card {
      position: relative;
      right: 10px;
      background-color: white;
      width: 1070px;
      height: 196px;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .card-image {
        width: 349px;
        height: 100%;
      }
      .card-textbox {
        text-align: justify;
        padding-left: 40px;
        padding-right: 20px;
        .card-title {
          position: relative;
          top: 20px;
          font-weight: bold;
          font-size: 25px;
          color: black;
          text-decoration: none;
          padding-top: 20px;
        }
        .card-title:hover {
          color: #d53414;
        }
        p {
          color: #484846;
          font-size: 20px;
          padding-top: 40px;
          margin-bottom: 20px;
          padding-right: 40px;
        }
        .card-footer {
          position: absolute;
          bottom: 0;
          display: flex;
          flex: row;
          flex-direction: row;
          .timestamp {
            position: relative;
            bottom: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri',
              'Trebuchet MS', sans-serif;
            font-size: 18px;
            color: rgb(135, 130, 130);
            margin-bottom: 0;
            padding-top: 0px;
          }
          .card-button {
            position: relative;
            left: 435px;
            bottom: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri',
              'Trebuchet MS', sans-serif;
            text-decoration: none;
            text-align: right;
            color: black;
            font-size: 18px;
          }
          .card-button:hover {
            color: #d53414;
          }
        }
      }
    }
  }
}

/* News Section End */
