nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252426;
  text-align: center;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
nav ul li {
  margin-top: 30px;
  margin-right: 40px;
  list-style-type: none;
  display: inline-block;
}
nav ul img {
  position: relative;
  top: 10px;
  width: 9rem;
  margin-right: 40px;
}
nav ul img:hover {
  cursor: pointer;
}
nav ul li {
  margin-top: 30px;
  margin-right: 40px;
  list-style-type: none;
  display: inline-block;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: red;
}
nav ul social {
  margin-left: 40px;
  margin-right: 40px;
}
nav button {
  position: relative;
  bottom: 5px;
  background-color: transparent;
  color: red;
  text-decoration: none;
  border: 2px solid red;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 20px;
}
nav button:hover {
  background-color: red;
  color: white;
  border: 2px solid #f9004d;
  cursor: pointer;
  transition: transform 1s;
}
nav i {
  color: lightgray;
  margin-right: 20px;
  font-size: 22px;
}
nav i:hover {
  color: red;
  cursor: pointer;
  transition: transform 1s;
}
